.auth-wrap {
    height: 100vh;
    min-height: 600px;
}
.auth-wrap > .auth-bg  {
    height: 100%;
}

.auth-bg {
    background: #2e343b;
}

.auth-form {
    max-width: 400px;
}

.auth-form p {
    font-size: 14px;
}

.message-container {
    position: fixed;
    bottom: 40px;
    right: 50px;
    z-index: 999;
    max-width: 400px;
    width: 100%;
}